hr{
    border-style: dotted;
    border-width: 10pt 0 0 0;
    width: 10%;
}
img{
    margin:1%;
}

#title-logo{
    height: 35pt;
    margin-right: .5rem;
}
.menubar{
    background-color: #343232;
}
.navbar-dark .navbar-nav .nav-link{
    color:white
}
.promo-item{
    text-align: center;
    background-color: #656565;
    padding: 2% 10%;
    color: white;
    height: 450pt;
}
.promo-item img{
    max-height: 25rem;
    max-width: 100%;
    width: auto;
    margin:.25em;
}
.promo-item td{
    padding: 2.5%;
}
@media(min-width: 992px){
    .nav-item{
        border: 1pt solid white;
        border-width: 0 1px 0 0;
    }
}
@media(max-width: 991px){
    .nav-item{
        border: 1pt solid white;
        border-width: 0 0pt 0 0;
    }
}

/*text section*/
.text{
    text-align: center;
    min-height: 550pt;
    background-color: #fcfcfc;
    padding: 2% 10%;
    margin-bottom: 2%;    
}
@media(min-width: 960px){
    .text{
        padding-left: 30%;
        padding-right: 30%;
    }
}
.index{
    padding: .5%;
    display: block; 
    max-width: 500pt;
    width: 80%;
    border-color: black;
    border-style: solid;
    border-width: 0 0 0 1pt;
    margin-top: 2%;
}
.sources{
    font-style: italic;
}

.programmer{
    margin-top: 2%
}
.programmer img{
    text-align: right;
    margin-right:0;
    height: 10rem;
}


.theory{
    text-align: left;
}


.download-card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
/*footer section*/
.footer{
    text-align: center;
    background-color: #66679C;
    color: white;
    padding: 50pt 50pt 10pt;
}
.footer button{
    margin-bottom: 50pt;
}
.btn-contact{
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 5%;
    width: 100pt;
    height:25pt;
}